asgiref==3.7.2
build==1.0.3
CacheControl==0.14.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
cleo==2.1.0
crashtest==0.4.1
cryptography==41.0.4
defusedxml==0.8.0rc2
distlib==0.3.7
Django==5.0.9
django-extensions==3.2.3
dulwich==0.21.6
fastjsonschema==2.18.1
filelock==3.12.2
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
keyring==24.2.0
MarkupSafe==2.1.5
more-itertools==10.1.0
msgpack==1.0.7
oauthlib==3.2.2
packaging==23.2
pexpect==4.9.0
pillow==10.3.0
pipenv==2024.0.1
pkginfo==1.10.0
platformdirs==3.11.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycparser==2.21
PyJWT==2.9.0
pyOpenSSL==24.1.0
pyproject_hooks==1.0.0
python-decouple==3.8
python3-openid==3.2.0
rapidfuzz==3.5.2
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
SecretStorage==3.3.3
shellingham==1.5.3
social-auth-app-django==5.4.0
social-auth-core==4.5.4
sqlparse==0.5.0
tomlkit==0.12.1
trove-classifiers==2023.9.19
urllib3==2.0.6
virtualenv==20.26.3
Werkzeug==3.0.2
zipp==3.17.0
